@model WebStoreTerehin.Models.Employee

<h3>Сотрудник</h3>

<dl>
    <dt>Принят на работу</dt>
    <dd>@Model.DateOfEmployment</dd>
</dl>

<hr />
<p><a href="~/Home/Employees">К списку сотрудников</a></p>
